src/main/app/maven-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<!-- maven-project Demonstrates the usage of maven in the context of mule -->

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd">

	<!-- base config for http entry point -->
	<http:listener-config
		name="HTTP_Listener_Configuration"
		host="0.0.0.0"
		port="8081"
		doc:name="HTTP Listener Configuration" />

	<!-- connection to derby in-memory database -->
	<db:derby-config
		name="Derby_Configuration"
		url="jdbc:derby:memory:muleEmbeddedDB;create=true"
		doc:name="Derby Configuration" />

	<!-- creates db on startup via afterPropertiesSet() method -->
	<spring:beans>
		<spring:bean
			id="Bean"
			name="Bean"
			class="com.mulesoft.training.Database" />
	</spring:beans>

	<!-- base config for embedded AMQ broker -->
	<jms:activemq-connector
		name="activeMQ"
		brokerURL="vm://localhost"
		validateConnections="true"
		doc:name="Active MQ" />

	<!-- returns static message: Hello Maven -->
	<flow name="mavenFlow">
		<http:listener
			config-ref="HTTP_Listener_Configuration"
			path="/maven"
			doc:name="GET /maven" />
		<set-payload
			value="#['Hello Maven']"
			doc:name="Hello Maven" />
	</flow>

	<!-- queues database result to be logged -->
	<flow name="retrieveFlights">
		<http:listener
			config-ref="HTTP_Listener_Configuration"
			path="/flights"
			doc:name="POST /flights" />
		<db:select
			config-ref="Derby_Configuration"
			doc:name="SELECT FROM FLIGHTS">
            <db:parameterized-query><![CDATA[SELECT * FROM flights]]></db:parameterized-query>
		</db:select>
		<json:object-to-json-transformer doc:name="Object to JSON" />
		<jms:outbound-endpoint
			connector-ref="activeMQ"
			queue="flights"
			doc:name="flights" />
        <catch-exception-strategy doc:name="Catch Exception Strategy">
			<logger
				message="[notify-sla=2h response-type=network] Retries exhausted contacting aws.amazon.com"
				level="ERROR"
				category="com.mulesoft.training.maven-project.retrieveFlights"
				doc:name="ERROR" />
			<logger
				message="Connection refused to Widget REST API on internal VNET: #[exception.message]"
				level="INFO"
				category="com.mulesoft.training.maven-project.retrieveFlights"
				doc:name="INFO" />
        </catch-exception-strategy>
	</flow>

	<!-- consumes queued database messages and logs them -->
	<flow name="logFlights">
		<jms:inbound-endpoint
			queue="flights"
			connector-ref="activeMQ"
			doc:name="flights" />
		<logger
			message="#[message.payload]"
			level="INFO"
			category="com.mulesoft.training.maven-project.logFlights"
			doc:name="INFO" />
	</flow>

</mule>
